<div class="container" ng-controller="main">
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <a class="navbar-brand" href="#">{{ title }} - ({{ products.length }} loaded so far.)</a>
    </nav>
    <div style="margin-top: 60px;">
        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th>Sl no</th>
                    <th>Product description</th>
                    <th>Quantity per unit</th>
                    <th>Unit price</th>
                    <th>Discount</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in products">
                    <td>{{ $index+1 }}</td>
                    <td>
                        <img src="{{ p.picture }}" style="height: 50px" class="img">
                        {{ p.description }}</td>
                    <td>{{ p.quantity_per_unit }}</td>
                    <td>{{ p.unit_price }}</td>
                    <td>{{ p.discount }}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>