<h3>Please enter contact and address details for delivery</h3>

<form class="form-horizontal" #f1="ngForm">
  <div class="form-group row">
    <label class="col-sm-4" for="name">Name</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" required minlength="3" id="name" name="name" #tfName="ngModel"
        [(ngModel)]="customer.name">

      <div class="err" *ngIf="tfName.dirty && tfName.invalid">
        <div *ngIf="tfName.errors.required">Name is mandatory</div>
        <div *ngIf="tfName.errors.minlength">Name must be at least 3 letters</div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-4" for="email">Email address</label>
    <div class="col-sm-6">
      <input type="email" class="form-control" 
        required pattern="^(.+)@(.+){2,}\.(.+){2,}$" #tfEmail="ngModel" id="email"
        name="email" [(ngModel)]="customer.email">

      <div class="err" *ngIf="tfEmail.dirty && tfEmail.invalid">
        <div *ngIf="tfEmail.errors.required">Email address is mandatory</div>
        <div *ngIf="tfEmail.errors.pattern">Looks like you entered an invalid email pattern</div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-4" for="phone">Phone number</label>
    <div class="col-sm-6">
      <input type="tel" class="form-control" id="phone" name="phone" [(ngModel)]="customer.phone">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-4" for="house_no_street">Hose no/street</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="house_no_street" name="house_no_street"
        [(ngModel)]="customer.address.house_no_street">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-4" for="area">Area/locality</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="area" name="area" [(ngModel)]="customer.address.area">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-4" for="city">City</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="city" name="city" [(ngModel)]="customer.address.city">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-4" for="state">State</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="state" name="state" [(ngModel)]="customer.address.state">
    </div>
  </div>
  <button class="btn" [ngClass]="{'btn-primary': f1.valid, 'btn-secondary': f1.invalid}" [disabled]="f1.invalid"
    (click)="checkout()">Checkout</button>
</form>