<h3>All products</h3>
<ul class="list-group">
  <li class="list-group-item">
    <a href="" [routerLink]="['/products']">
      View
    </a>
  </li>
</ul>
<br>

<h3>By brand</h3>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let brand of brands | async">
    <a href="" [routerLink]="['/products/by/brand', brand]">
      {{ brand }}
    </a>
  </li>
</ul>
<br>

<h3>By category</h3>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let category of categories | async">
    <a href="" [routerLink]="['/products', 'by', 'category', category]">
      {{ category }}
    </a>
  </li>
</ul>
<br>
