<div class="card" [ngClass]="inCart ? 'in-cart': null ">
  <img [src]="product.picture" [alt]="product.name" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{ product.description | uppercase }}</h5>
    <p>{{ product.quantity_per_unit}}</p>
    <p *ngIf="product.discount && product.discount>0">
      <span style="text-decoration: line-through; font-size: 0.8em">
        {{ product.unit_price | currency: 'INR' }}
      </span>
      &nbsp;
      <span style="font-weight: bolder; ">
        {{ product | discountedPrice | currency: 'INR'}}
        ({{ product.discount }}% OFF)
      </span>
    </p>

    <p *ngIf="!product.discount || product.discount === 0">
      <span style="font-weight: bolder; ">
        {{ product.unit_price | currency: 'INR'}}
      </span>
    </p>

    <div class="row" *ngIf="!inCart">
      <div class="col-sm-8">
        <input type="number" min="1" class="form-control" [(ngModel)]="quantity">
      </div>
      <div class="col-sm-4">
        <button class="btn btn-primary" (click)="addToCart()">Add</button>
      </div>
    </div>

    <div class="text-center" *ngIf="inCart">
      <button class="btn btn-primary" (click)="decrementQuantity()"> - </button>
      &nbsp;
      {{ quantity }} in cart
      &nbsp;
      <button class="btn btn-primary" (click)="incrementQuantity()"> + </button>
    </div>

  </div>
</div>