<div id="ng1app">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Angular JS Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="ng1-app#!/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="ng1-app#!/product-list">Product list</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container" style="margin-top: 70px;" ng-view>
  </div>
</div>